<div class="w3-container" ng-controller="listUserController">
    <h3>Users</h3>
    <form>
        <label for="search">Search : </label>
        <input name="search" type="text"
               ng-model="searchKey"
               ng-keyup="$event.keyCode == 13 && search(searchKey)">
    </form>
    <hr/>
    <div>
      <button ng-click="sortBy(null)">Set to unsorted</button>
      <label>items per page : <input type="number" ng-model="pageSize" ng-model-options="{ debounce: 100 }"></label>
    </div>
    <table class="w3-table w3-bordered w3-striped" ng-if="showInfo">
        <thead>
          <tr>
            <th>Id</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>
                <span class="sortby" ng-click="sortBy('fName')">First Name</span>
                <span class="sortorder" ng-show="propertyName === 'fName'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <span class="sortby" ng-click="sortBy('lName')">Last Name</span>
                <span class="sortorder" ng-show="propertyName === 'lName'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <span class="sortby" ng-click="sortBy('title')">Title</span>
                <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <span class="sortby" ng-click="sortBy('gender')">Gender</span>
                <span class="sortorder" ng-show="propertyName === 'gender'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <span class="sortby" ng-click="sortBy('age')">Age</span>
                <span class="sortorder" ng-show="propertyName === 'age'" ng-class="{reverse: reverse}"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="user in users | itemsPerPage:pageSize">
            <td>{{user.id}}</td>
            <td>
              <button class="w3-btn w3-ripple" ng-click="editUser($event, user.id)">&#9998; Edit</button>
            </td>
            <td>
              <button class="w3-btn w3-ripple" ng-click="deleteUser($event, user.id)">&#10006; Delete</button>
            </td>
            <td>{{ user.fName }}</td>
            <td>{{ user.lName }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.age }}</td>
          </tr>
        </tbody>
        <tfoot>
          <td colspan="8">
            <dir-pagination-controls
               max-size="10"
               direction-links="true"
               boundary-links="true" >
            </dir-pagination-controls>
          </td>
        </tfoot>
    </table>
    <div>
        <button class="w3-btn w3-green w3-ripple" ng-click="createUser($event)">&#9998; Create New User</button>
    </div>
</div>